{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.css">
{% endblock %}
{% block body %}
<form action="/phone_verification" accept-charset="UTF-8" method="POST">
  <div class="container">
      <ul>
      <li>
          <div>
          <select name="cc" id="authy-countries"  data-show-as="text"></select>
          </div>
      </li>
      <li>
          <div>
          <input type="tel" id="phone_number" placeholder="Phone Number" name="pn" />
          </div>
      </li>
      <li>
          <button name="button" type="submit">Verify</button>
      </li>
      </ul>
  </div>
</form> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.js"></script>
{% endblock %}
